.PizzaCreator{
    padding: 30px 30px 20px 0px;
    border: 1px solid black;
    border-radius: 5px;
    background: #CCCCCC;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}
.Fields{
    margin-bottom: 20px;
}